---
import Layout from "../../layouts/SidenavLayout.astro"

---

<Layout title="Dashboard">
    <main>
        <h1>Dashboard</h1>
        <p>Welcome to the dashboard!</p>
        <p>helo</p>
    </main>
</Layout>